<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<div class="header" style="font-family: 'clashLogo'; color: white; font-size: 50px">
  business LOYO
</div>

<div class="navbar">
  <div class="navbar-item active">Dashboard</div>
</div>

<div class="dashboard">
  <div class="company-name" style="font-family: 'clashCompanyName'">{{businessName}}</div>
  <div class="dash-main">
  <div class="infocolumn">
    <div class="points-info">
      <div class="points-info-line">
        <div class="points-info-line-label">
          Points Distributed:
        </div>
        <div class="points-info-line-number">
          {{loyaltyPointsDistributed}}
        </div>
      </div>
      <div class="points-info-line">
        <div class="points-info-line-label">
          Points Spent By Clients:
        </div>
        <div class="points-info-line-number">
          {{loyaltyPointsSpent}}
        </div>
      </div>
      <div class="points-info-line">
        <div class="points-info-line-label">
          Rewards Given To Clients
        </div>
        <div class="points-info-line-number">
          {{rewardsDistributed}}
        </div>
      </div>
    </div>
    <div class="points-info">
      <div class="points-info-line">
        <div class="points-info-line-label">
          Address: {{address}}
        </div>
        <div class="points-info-line-number">
        </div>
      </div>
      <div class="points-info-line">
        <div class="points-info-line-label">
         Number of Clients:
        </div>
        <div class="points-info-line-number">
          {{950}}
        </div>
      </div>
      <div class="points-info-line">
        <div class="points-info-line-label">
          Client's average monthly spending
        </div>
        <div class="points-info-line-number">
          {{98.96}}
        </div>
      </div>
    </div>
  </div>
  <div class="infocolumn-big">
    <div class="points-info">
      <div class="points-info-line">
        <div class="points-info-line-label" style="font-size: 28px">
          Download Loyo Open Data
        </div>
      </div>
      <div class="points-info-line" style="align-items: center; justify-content: flex-start">
        <div class="points-info-line-label" style="color: green; font-size: 16px">
          You have access to this database
        </div>
        <img alt="i" src="assets/open-lock.png" width="35px" height="35px">
      </div>
      <div class="points-info-line" style="align-items: center; justify-content: flex-start">
        <div class="points-info-line-label"
             style="
             background-color: lightgreen;
              border: #1b264f;
               border-style: solid;
                border-radius: 5px;
                 padding: 5px;
                 cursor: pointer;
            ">
          Download
        </div>
      </div>

    </div>
  </div>
  </div>
</div>


